<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Facts</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Visit the...<br></h1>
      <h1><b>Red Planet</b></h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">About Mars</a></p>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col">
        <h2>Featured Image</h2>
        <img src={{  marsdict.featured }}>
        </div>
        <div class="col">
          <h1>In the news: {{ marsdict.title }}</h1>
          <h2>{{ marsdict.paragraph }}</h2>
        </div>
      </div>
    <div class="row">
      <div class="col">
        <h2>Some quick facts about Mars.</h2>
        <div> {{marsdict.table}}</div>        
      </div>
    </div> 
    <h3>Check out the hemispheres of Mars!</h3>
    <ul style="list-style: none;">
    {% for x in hemisphere %}
          <li>{{ x.title }}: <img src={{ x.img_url }}></li>
        {% endfor %}
    </ul>
  </div>
</body>

</html>
