<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Facts</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body style="background-color:rgb(197, 115, 94) ;">
  <div class="container-fluid" style="color: rgb(233, 140, 116);" >
    <div class="jumbotron text-center" style="background-color:rgb(119, 94, 64)">
      <h1>Visit the...<br></h1>
      <h1><b>Red Planet</b></h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">About Mars</a></p>
    </div>
  </div>
  <div class="container" style="background-color:rgb(255, 251, 228)">
      <div class="row">
        <div class="col-md-8">
        <h1>Featured Image</h1>
        <img src={{  marsdict.featured }}>
        </div>
        <div class="col">
          <h1>In the news: {{ marsdict.title }}</h1>
          <h2>{{ marsdict.paragraph }}</h2>
        </div>
      </div>
    <div class="row">
      <div class="col">
        <h2>Some quick facts about Mars.</h2>
        <div> {{marsdict.table}}</div>        
      </div>
    </div> 
    <div class="row">
      <div class="col-md-3">
        <div class="box">

        </div>

      </div>
    </div>
        <h3>Check out the hemispheres of Mars!</h3>
    <ul style="list-style: none;">
    <li>{% for x in titlesandurls %}
         {{ x.titles }}: <img src={{ x.imgurls }}>
        {% endfor %}</li>
    </ul>
    </div>  
</body>

</html>
